button {
    border: none;
    background-color: rgb(69, 45, 221);
    /* background-image: linear-gradient(315deg, #244ded 0%, #0a0c91 75%); */
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    color: rgb(238, 254, 4);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(95, 21, 8);
  }
  
  .equals:hover {
    background-color: rgb(237, 38, 12);
  }